JALSOOCHAK_SERVER_MODE=
JALSOOCHAK_TENANT_ID=
DEFAULT_AVERAGE_MEMBERS_PER_HOUSEHOLD=
DEFAULT_WATER_NORM_LITERS_PER_PERSON_PER_DAY=
MAP_LEGEND_THRESHOLD_GTE_90=
MAP_LEGEND_THRESHOLD_GTE_70=
MAP_LEGEND_THRESHOLD_GTE_50=
MAP_LEGEND_THRESHOLD_GTE_30=
MAP_LEGEND_THRESHOLD_GTE_0=
